<html>
    <head>
        <title>Mini Messaging App</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <div>
            <h1>New Message</h1>
            <form method="post" action="/new">
                <input type="text" placeholder="Your Name" name="messageUser">
                <input type="text" placeholder="Message Text" name="messageText">
                <button type="submit">Submit Message</button>
            </form>
        </div>
    </body>
</html>