<html>
    <head>
        <title>Mini Messaging App</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('../navbar', {links: links}) %>
        <div class="messageDetail">
            <h1> <%= message.text %> </h1>
            <h3> <%= message.user %></h3>
            <p> <%= message.added %></p>
            <a href="/">
                <button" type="button">Back</button>
            </a>
        </div>
    </body>
</html>
